.box{
    border: 1px solid #000;
    width: 50%;
    /* 부모태그의 반만큼의 크기로 설정 */
    margin: 0 auto; /*화면크기에 따라 박스크기가 달라진다*/
    max-width: 800px;
    min-width: 320px;
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
}